<div class="container">
  <div class="col-md-12">
    <ul class="breadcrumb col-centered">
      <li><a href="index.html">Home</a></li>
      <li>Checkout - Address </li>
    </ul>
  </div>
  <div class="row page-top">
    <div class="col-sm-6 offset-sm-3">
      <h1>Checkout - Address</h1>
    </div>
  </div>
  <div class="row">
    <div id="checkout" class="col-md-12">
      <div class="box">
        <form method="post" action="checkout2.html">
          <ul class="nav nav-pills nav-justified">
            <li class="active"><a href="#"><i class="fa fa-map-marker"></i><br>Address</a></li>
            <li class="disabled"><a href="#"><i class="fa fa-truck"></i><br>Delivery Method</a></li>
            <li class="disabled"><a href="#"><i class="fa fa-money"></i><br>Payment Method</a></li>
            <li class="disabled"><a href="#"><i class="fa fa-eye"></i><br>Order Review</a></li>
          </ul>
          <div class="content">
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="firstname">Firstname</label>
                  <input type="text" id="firstname" class="form-control">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="lastname">Lastname</label>
                  <input type="text" id="lastname" class="form-control">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="Company">Company</label>
                  <input type="text" id="Company" class="form-control">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="Street">Street</label>
                  <input type="text" id="Street" class="form-control">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6 col-md-3">
                <div class="form-group">
                  <label for="City">City</label>
                  <input type="text" id="City" class="form-control">
                </div>
              </div>
              <div class="col-sm-6 col-md-3">
                <div class="form-group">
                  <label for="ZIP">ZIP</label>
                  <input type="text" id="ZIP" class="form-control">
                </div>
              </div>
              <div class="col-sm-6 col-md-3">
                <div class="form-group">
                  <label for="State">State</label>
                  <input type="text" id="State" class="form-control">
                </div>
              </div>
              <div class="col-sm-6 col-md-3">
                <div class="form-group">
                  <label for="Country">Country</label>
                  <input type="text" id="Country" class="form-control">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="Telephone">Telephone</label>
                  <input type="text" id="Telephone" class="form-control">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="Email">Email</label>
                  <input type="text" id="Email" class="form-control">
                </div>
              </div>
            </div>
          </div>
          <div class="box-footer">
            <div class="pull-left"><a href="basket" class="btn btn-default"><i class="fa fa-chevron-left"></i>Back to basket</a></div>
            <div class="pull-right">
              <button type="submit" class="btn btn-primary">Continue to Delivery Method<i class="fa fa-chevron-right"></i></button>
            </div>
          </div>
        </form>
      </div>
    </div>

  </div>
</div>
