<div class="container">
  <div class="col-md-12">
    <ul class="breadcrumb col-centered">
      <li><a href="index.html">Home</a></li>
      <li>Shopping cart</li>
    </ul>
    <div class="row page-top">
      <div class="col-sm-10 offset-sm-1">
        <h1>Shopping cart</h1>
        <p class="text-muted">You currently have {{ numCartItems }} item(s) in your cart. </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div id="basket" class="col-md-9">
      <div class="card">
        <form method="post" action="checkout1.html">
            <table class="table">
              <thead>
                <tr>
                  <th>Product</th>
                  <th>Quantity</th>
                  <th>Unit price</th>
                  <th>Discount</th>
                  <th colspan="2">Total</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of cartItems">
                  <td><a href="details/{{ item.id }}">{{item.name}}</a></td>
                  <td><input #quantity type="number" value="{{ item.quantity }}" class="form-control" (change)="updateCart(item.id, quantity.value)"></td>
                  <td>${{ item.price }}</td>
                  <td>$0</td>
                  <td>${{ item.total }}</td>
                  <td><a href="basket" (click)="removeCookie(item.id)"><i class="fa fa-trash-o"></i></a></td>
                </tr>
              </tbody>
            </table>
          <div class="card-footer">
            <div class="pull-left"><a href="store" class="btn btn-secondary"><i class="fa fa-chevron-left"></i> Continue shopping</a></div>
            <div class="pull-right">
              <button type="submit" class="btn btn-primary"><a href="checkout">Proceed to checkout<i class="fa fa-chevron-right"></i></a></button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="col-md-3">
      <div id="order-summary" class="card">
        <div class="card-header">
          <h3>Order summary</h3>
        </div>
        <p class="text-muted">Shipping and additional costs are calculated based on the values you have entered.</p>
        <div class="table-responsive"> 
          <table class="table">
            <tbody>
              <tr>
                <td>Order subtotal</td>
                <th>${{ cartTotal }}</th>
              </tr>
              <tr>
                <td>Shipping and handling</td>
                <th>$0</th>
              </tr>
              <tr>
                <td>Tax</td>
                <th>$0</th>
              </tr>
              <tr class="total">
                <td>Total</td>
                <th>${{ cartTotal }}</th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h4>Coupon code</h4>
        </div>
        <p class="text-muted">If you have a coupon code, please enter it in the box below.</p>
        <form>
          <div class="input-group">
            <input type="text" class="form-control"><span class="input-group-btn">
              <button type="button" class="btn btn-primary"><i class="fa fa-gift"></i></button></span>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
