<header class="header">
  <div class="topbar">
    <div class="container"> 
      <div class="topbar__content row">
        <div class="col-sm-4 hidden-xs">
        </div>
        <div class="col-sm-4 topbar__logo"><a href=""><img src="http://via.placeholder.com/80x81" alt="" class="topbar__logo__normal"><img src="" alt="" class="topbar__logo__small"></a></div>
        <div class="col-sm-4 center hidden-xs">
          <div class="topbar__cart"><a href="/basket" class="btn btn-transparent"><i class="fa fa-shopping-cart"></i><span>{{ numCartItems }} Items in cart</span></a></div>
        </div>
      </div>
    </div>
  </div>
  <div role="navigation" class="navbar navbar-light">
    <div class="container">
      <div id="navigation" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a class="active dropdown" href="">Home</a></li>
          <li><a href="store">Shop</a></li>
          <li><a href="contact">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>

<router-outlet></router-outlet>

<footer class="footer">
    <div class="footer__block">
      <div class="container">
        <div class="row">
          
          <div class="col-md-4 col-sm-6">
            <h4>Let's be Friends</h4>
            <p class="social"><a href="" data-animate-hover="pulse" class="external facebook"><i class="fa fa-facebook"></i></a><a href="" data-animate-hover="pulse" class="external gplus"><i class="fa fa-google-plus"></i></a><a href="" data-animate-hover="pulse" class="external twitter"><i class="fa fa-twitter"></i></a><a href="" data-animate-hover="pulse" class="email"><i class="fa fa-envelope"></i></a></p>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="row text-center">
              <div class="col">
                <h4>Locations</h4>
                <p>234 Sample St.<br>New York, NY 12345</p>
                <p>USA</p>
                <p>+1 222 333 4444</p>
              </div>
            </div>
          </div>
          
          <div class="col-md-4 col-sm-6">
            <h4>News and Updates</h4>
            <p>Sign up to get the latest on sales, new releases and more …</p>
            <form class="footer__newsletter">
              <div class="input-group">
                <input type="text" placeholder="Enter your email address" class="form-control"><span class="input-group-btn">
                  <button type="button" class="btn btn-secondary"><i class="fa fa-send"></i></button></span>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="footer__copyright">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
              <p>Photos are used under <a href="https://www.pexels.com/photo-license/">Pexels' CC0 License.</a><br>(Free for personal and commercial use with no attribution required)</p>
          </div>
        </div>
      </div>
    </div>
  </footer>
