<div class="container">
  <div class="row">
    <div class="col-md-12">
      <ul class="breadcrumb col-centered">
        <li>
          <a href="#">Home</a>
        </li>
        <li>Shop</li>
      </ul>
      <div class="row page-top">
        <div class="col-sm-6 offset-sm-3">
          <h1>Shop</h1>
          <p class="text-muted">We sell only the best goods</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <!--
    <div class="col-md-3">
      <div class="panel panel-default sidebar-menu">
        <div class="panel-heading">
          <h3 class="panel-title">Types</h3>
        </div>
        <div class="panel-body">
          <ul class="nav nav-pills nav-stacked category-menu">
            <li>
              <ul>
                <li>
                  <a href="category.html">All</a>
                </li>
                <li>
                  <a href="category.html">Pastry</a>
                </li>
                <li>
                  <a href="category.html">Sweets</a>
                </li>
                <li>
                  <a href="category.html"></a>
                </li>
                <li>
                  <a href="category.html"></a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <div class="panel panel-default sidebar-menu">
        <div class="panel-heading">
          <h3 class="panel-title">Flavors
            <a class="btn btn-xs btn-danger pull-right" href="#">
              <i class="fa fa-times-circle"></i>
              <span class="hidden-sm">Clear</span>
            </a>
          </h3>
        </div>
        <div class="panel-body">
          <form>
            <div class="form-control"></div>
            <div class="checkbox">
              <label>
                <input type="checkbox">
                <span class="colour white"></span>White ()
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox">
                <span class="colour blue"></span>Blue ()
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox">
                <span class="colour green"></span>Green ()
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox">
                <span class="colour yellow"></span>Yellow ()
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox">
                <span class="colour red"></span>Red ()
              </label>
            </div>
          </form>
        </div>
      </div>
    </div>-->
    <div class="col-md-12">
      <div class="info-bar">
        <div class="row">
          <div class="col-sm-12 col-md-4">
            <form class="search">
              <input id="typeahead-focus" type="text" class="form-control search-input" name="item" placeholder="Search" [(ngModel)]="query"
            [ngbTypeahead]="search" #instance="ngbTypeahead" />
            </form>
          </div>
          <div class="col-sm-12 col-md-8">
            <div class="row">
              <div class="form-inline">
                <div class="col-md-12 col-sm-12">
                  <div class="products-sort-by">
                    <strong>Sort by</strong>
                    <select class="form-control" [(ngModel)]="sortValue" name="sort" id="sort">
                      <option value="0" [selected]="0" selected="selected">Default</option>
                      <option value="pricehilow" [selected]="pricehilow">Price: Low to High</option>
                      <option value="pricelowhi" [selected]="pricelowhi">Price: High to Low</option>
                      <option value="toprated" [selected]="toprated">Top Rated</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row products">
        <!-- product-->
        <div class="col-md-4 col-sm-6" *ngFor="let item of (items | search: query | sort: sortValue)">
          <div class="product">
            <div class="image">
              <a href="details/{{ item.id }}">
                <img src="assets/product_images/{{ item.imageFolder }}/1.jpeg" alt="" class="img-fluid">
              </a>
            </div>
            <div class="text">
              <h3>
                <a href="details/{{ item.id }}">{{ item.name }}</a>
              </h3>
              <p class="price">${{ item.price }}</p>
              <!-- star rating -->
              <ng-template #t let-fill="fill">
                <span *ngIf="fill === 100" class="star full">&#10025;</span>
                <span *ngIf="fill === 0" class="star">&#10025;</span>
                <span *ngIf="fill < 100 && fill > 0" class="star">
                  <span class="half" [style.width.%]="fill">&#10025;</span>&#10025;
                </span>
              </ng-template>

              <ngb-rating rate="{{ item.rating }}" [starTemplate]="t" [readonly]="true" max="5"></ngb-rating>
              <!-- /star rating-->
            </div>
          </div>
        </div>
        <!-- /product-->
      </div>
    </div>
  </div>
</div>