/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "assets/css/style.default.css";
@import "~font-awesome/css/font-awesome.css";

//Rating stars styles
.star {
    position: relative;  
    display: inline-block;
    font-size: 1.5rem;
    color: #d3d3d3;
}
.full {
    color: black;
}
.half {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    color: black;
}


.spacer { 
    margin:0; padding:0; height:50px; 
}

.col-centered {
    display: flex;
    justify-content: center;
}

.carousel {
    display: block;
}



