<div class="container">
    <div class="row">
      <div class="col-md-12">
    </div>
  </div>
</div>
<div class="container">
  <section>
    <div class="row">
      <ngb-carousel class="carousel slide col-sm-10 offset-sm-1">
        <ng-template ngbSlide>
          <img src="http://via.placeholder.com/900x500" alt="" class="img-fluid">
          <div class="carousel-caption">
            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <img src="http://via.placeholder.com/900x500" alt="" class="img-fluid">
          <div class="carousel-caption">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <img src="http://via.placeholder.com/900x500" alt="" class="img-fluid">
          <div class="carousel-caption">
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-6"><a href="#"><img src="http://via.placeholder.com/555x369" alt="" class="img-fluid img-border"></a></div>
      <div class="col-sm-6"><a href="#"><img src="http://via.placeholder.com/555x369" alt="" class="img-fluid img-border"></a></div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-6"><a href="#"><img src="http://via.placeholder.com/555x369" alt="" class="img-fluid img-border"></a></div>
      <div class="col-sm-6"><a href="#"><img src="http://via.placeholder.com/555x369" alt="" class="img-fluid img-border"></a></div>
    </div>
  </section>
</div>
