<div class="container">
  <div class="row">
    <div class="col-md-12">
      <ul class="breadcrumb col-centered">
        <li>
          <a href="">Home </a>
        </li>
        <li>
          <a href="/store">Shop </a>
        </li>
        <li>{{ item.name }}</li>
      </ul>
      <div class="row page-top col-centered">
        <div class="col-sm-6">
          <h1 class="product__heading">{{ item.name }}</h1>
          <p class="text-muted">{{ item.desc }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="row product__main">
        <div class="col-sm-5 offset-sm-1">
          <div class="mainImage">
            <!--<img src="assets/img/detailbig1.jpg" alt="" class="img-fluid">-->
            <ngb-carousel>
              <ng-template ngbSlide>
                <img src="assets/product_images/{{ item.imageFolder }}/1.jpeg" alt="">
              </ng-template>
              <ng-template ngbSlide>
                <img src="assets/product_images/{{ item.imageFolder }}/2.jpeg" alt="">
              </ng-template>
              <ng-template ngbSlide>
                <img src="assets/product_images/{{ item.imageFolder }}/3.jpeg" alt="">
              </ng-template>
            </ngb-carousel>
          </div>
          <!--
          <div class="ribbon sale">
            <div class="theribbon">SALE</div>
            <div class="ribbon-background"></div>
          </div>-->
          <div class="ribbon new">
            <div class="theribbon">NEW</div>
            <div class="ribbon-background"></div>
          </div>
        </div>
        <div class="col-sm-4 offset-sm-1">
          <form>
            <p class="price">${{ item.price }}</p>
            <div class="row">
              <div class="col-md-6 offset-md-3">
                <!--
                <div class="form-group">
                  <label for="size">Choose your size</label>
                  <select id="size" class="form-control">
                    <option>Small</option>
                    <option>Medium</option>
                  </select>
                </div>-->
                <div class="form-group">
                  <label for="quantity">Quantity</label>
                  <input #quantity type="number" value="1" id="quantity" class="form-control" required>
                </div>
              </div>
            </div>
            <p class="text-center" >
              <!-- Hide "Add to Cart" button when clicked and show success-->
              <button type="submit" class="btn btn-primary" (click)="setCookie(item.id, quantity.value)" *ngIf="!buttonWasClicked">
                <i class="fa fa-shopping-cart"></i>&nbsp;Add to cart</button>

              <button class="btn btn-success" *ngIf="buttonWasClicked" disabled>
                  <i class="fa fa-check"></i>&nbsp;Success</button>
            </p>
          </form>
          <!-- Star rating -->
          <div class="col-centered">
            <ng-template #t let-fill="fill">
              <span *ngIf="fill === 100" class="star full">&#10025;</span>
              <span *ngIf="fill === 0" class="star">&#10025;</span>
              <span *ngIf="fill < 100 && fill > 0" class="star">
                <span class="half" [style.width.%]="fill">&#10025;</span>&#10025;
              </span>
            </ng-template>

            <ngb-rating [(rate)]="currentRate" [starTemplate]="t" [readonly]="true" max="5"></ngb-rating>
          </div>
          <div class="product__details">
            <h4>Product details</h4>
            <p>{{ item.details }}</p>
            <h4>Ingredients</h4>
            <ul>
              <li *ngFor="let ingredient of item.ingredients">{{ ingredient }}</li>
            </ul>
            <h4>Size</h4>
            <ul>
              <li>2 in</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
